@page "/leaverequests/"
<h3>Leave Requests</h3>

<div class="="m-2 data-flex justify-content-end">
    <button href="/leaverequests/create" class="btn btn-success">Add Leave Request</button>
</div>"


